---
layout: base
---

<div class="container" style="margin-top: 4rem; font-size: 1.25rem;">
    <img src="/_data/files/{{ archive.filename }}" alt="{{ archive.description }}" />
    <h2>{{ archive.title }}</h2>
    <p>{{ content }}</p>
    <p>{{ archive.date }}</p>
    <p>{{ archive.source }}</p>
</div>
