---
layout: base
---

<div class="container" style="margin-top: 4rem; font-size: 1.25rem;">
    <img src="/_data/files/{{ mediaItem.filename }}" alt="{{ mediaItem.description }}" />
    <h2>{{ mediaItem.title }}</h2>
    <p>{{ content }}</p>
    <p>{{ mediaItem.date }}</p>
    <p>{{ mediaItem.source }}</p>
</div>
